/*global*/
body {
  margin: 0;
  height: 100%;
  background: #f1f1f1;
}

html {
  height: 100%;
}

ul{
  padding-left: 0px;
  padding-top: 10px;
}
nav {
  height: 100%;
  float: left;
  width: 210px;
  margin-right:100px;
  position: fixed;
  margin-top: 50px;
}
main {
  height: 100%;
  float: right;
  width: calc(100% - 310px);
}
.middle-helper {
  height: 100%;
}
.container {
    height: calc(100% - 64px);
    color: #7b7b7b;
}
/*HEADER*/
#google-plus {
  height: 100%;

  .main-header {
    background: #ffffff;
    height: 64px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
    z-index: 1;
    color: #7b7b7b;
    position: fixed;
    width: 100%;
    > * {
      display: inline-block;
      vertical-align: middle;
    }

    .fa-bars {
      padding: 10px;
      cursor: pointer;
      margin-left: 10px;
      margin-right: 20px;
      font-size: 20px;
    }
    .logo {
      font-size: 26px;
      font-weight: normal;
    }
    .homepage {
      border-left: 1px solid rgba(0, 0, 0, .12);
      padding-left: 24px;
      margin-left: 24px;
    }
    h1, h2 {
      margin: 0;
    }

    .searchbar {
      height: 48px;
      padding-left: 30px;
      position: relative;
      width: calc(100% - 450px);
      padding-right: 10px;
      .fa-search {
        position: absolute;
        top: 33%;
        left: 20px;
        // transform: translateY(-50%);
        margin-left: 25px;
        color: #C4C4C4;
      }
      input{
        display: inline-block;
        width: 100%;
        border: none;
        background: #e5e5e5;
        height: 48px;
        line-height: 48px;
        border-radius: 4px;
        font-size: 20px;
        padding-left: 50px;
        &::placeholder {
          color: #C4C4C4;
          font-size: 18px;
          font-weight: normal;
        }
        &:focus{
          outline: none;
        }
      }
    }
    .fa-th-large, .fa-bell-o {
      margin: 5px;
    }
    .account {
      background: orange;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      text-align: center;
      margin-right: 20px;
      span {
        color: #ffffff;
        font-size: 20px;
        height: 100%;
        line-height: 32px;
        display: inline-block;
      }
    }
  }
}

/*nav*/
#google-plus {
  .container {

    .fa {
      height: 20px;
      width: 28px;
      padding-right: 10px;
      padding-left: 20px;
      font-size: 20px;
      vertical-align: middle;
    }
    li {
      list-style-type: none;
      display: inline-block;
      font-size: 15px;
      padding: 0;
      height: 20px;
      width: 120px;
      vertical-align: middle;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .block:hover {
      width: 100%;
      height: 50px;
      background-color: #D3D3D3;
    }
    .line {
      width: 100%;
      height: 1px;
      background-color: rgba(0, 0, 0, .12);
      margin: 8px 0;
      display: inline-block;
    }
    .now {
      color: #311b92;
    }
    .fa-compass {
      font-size: 24px;
    }
    .fa-home {
      font-size: 22px;
    }
    a {
      color: inherit;
    }
    .no-icon {
      padding-left: 20px;
      font-size: 15px;
      font-weight: normal;
      color: rgba(0,0,0,0.50);
    }
    .footer {
      bottom: 50px;
      position: absolute;
      font-size: 10px;
      padding: 25px;
      color: rgba(0,0,0,0.40);
    }
  }
}
/*main*/
#google-plus {
  #main {
    // width: calc(80% - 130px);
    text-align: center;
    margin: 0 auto;
    width: 80%;
    .maintop {
      display: flex;
      // margin-right: 20px;
      font-weight: normal;
      margin: 70px auto 0;
      max-width: 1105px;
      justify-content: space-between;
      .left {
      }
      .right h4{
        color: #4285f4;
      }
    }
    .mainbody {
      display: inline-block;
      height: 240px;
      margin-bottom: 30px;
      overflow: hidden;
      margin-top: 140px;
      width: 100%;
      margin: auto;
    }
    .mainpost {
      display: inline-block;
      margin-left: 10px;
      img{
        vertical-align: top;
        padding: 5px;
      }
    }
  }
}
